body {
    font-family: "Open Sans", sans-serif;
}

/* ------------------------------------ */



/* shared styles */
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.text-center {
    text-align: center;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-size: 18px;
}

.mt-section {
    margin-top: 130px;
}

/* --------------------------- */



/* header and navbar styles */
.site-header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.navbar {
    background-color: rgb(205, 248, 248);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 0 15px;
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
}

.brand-text {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.brand-letter-highlight {
    color: #FD6E0A;

}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 50px;
}

.nav-links a {
    color: #474747;
    font-size: 20px;
}

/* ---------------------------- */



/* button styles */
/* primary button styles */
.btn-primary {
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

/* outline button styles */
.btn-outline {
    color: #FD6E0A;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
}

/* ----------------------------------- */



/* banner styles */
.banner-layout {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-text {
    max-width: 585px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    color: #757575;
}

.banner-profile-pic {
    width: 584px;
}

/* ------------------------ */



/* main section styles */
.site-main section:not(:last-child) {
    margin-left: 230px;
    margin-right: 230px;

}

/* about section styles */
.about-section {
    padding: 130px 156px;
}

.about-content-wrapper {
    border: 1px solid lightgray;
    padding: 10px;
    background-color: white;
}

.about-items-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.item-description {
    font-weight: 700;
}

/* ------------------------------------- */


/* skill section styles */
.skill-items-container {
    display: flex;
    gap: 24px;
}

.skill-item {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 06px 50px 0px rgb(0, 0, 0, .2);
}

/* ----------------------------------------------------- */



/* resume section styles */
.resume-layout {
    display: flex;
    gap: 24px;
}

.resume-item-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-item-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.resume-item-separator {
    margin: 30px 0px;
}

.resume-download-cv {
    margin-top: 3rem;
}

/* --------------------------- */
/* contact section styles */
.contact-layout {
    display: flex;
    gap: 100px;
    padding: 106px 230px 154px 230px;
}

.contact-info-column,
.contact-form-column {
    width: 50%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    height: 64px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    display: block;
    margin-bottom: 24px;
}

/* ---------------------------------- */


/* footer section styles */
.site-footer {
    color: lightgray;
    background-color: #181818;
    padding: 100px;
}

/* ----------------END---------------- */